<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <!-- <i class="material-icons">supervised_user_circle</i>  -->
        <span class="userList-text">Users</span>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <!-- <i class="material-icons">message</i>  -->
        <span class="userList-text">Posts</span>
      </a>
    </li>
    <li>
      <a routerLink="twowaydatabinding" [class.activated]="currentUrl == '/twowaydatabinding'">
        <!-- <i class="material-icons">add_a_photo</i> -->
        <span class="userList-text">Two Way Data Binding</span>
      </a>
    </li>

    <li>
      <a routerLink="lazyloading" [class.activated]="currentUrl == '/lazyloading'">
        <!-- <i class="material-icons">add_a_photo</i> -->
        <span class="userList-text">Lazy Loading</span>
      </a>
    </li>

    <li>
      <a routerLink="interpolation" [class.activated]="currentUrl == '/InterpolationComponent'">
        <!-- <i class="material-icons">add_a_photo</i> -->
        <span class="userList-text">Interpolation Component</span>
      </a>
    </li>


    <li>
      <a routerLink="structuraldirectives" [class.activated]="currentUrl == '/structuraldirectives'">
        <!-- <i class="material-icons">add_a_photo</i> -->
        <span class="userList-text">Structural Directives</span>
      </a>
    </li>

    <li>
      <a routerLink="crud" [class.activated]="currentUrl == '/crud'">
        <!-- <i class="material-icons">add_a_photo</i> -->
        <span class="userList-text">CRUD</span>
      </a>
    </li>

    <li>
      <a routerLink="parent" [class.activated]="currentUrl == '/parent'">
        <span class="userList-text">Parent Comp</span>
      </a>
    </li>

    <li>
        <a routerLink="child" [class.activated]="currentUrl == '/child'">
          <span class="userList-text">Child Comp</span>
        </a>
      </li>



  </ul>
</nav>
